In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello, Python!")

Hello, Python!

In [3]:
print("Siapa kamu? kenalan dong.")
print("Aku siapa? hayo siapa")

Siapa kamu? kenalan dong.
Aku siapa? hayo siapa

In [4]:
print("Siapa kamu? kenalan dong.")
print()#memberikan hasil baris kosong
print("Aku siapa? hayo siapa.")

Siapa kamu? kenalan dong.

Aku siapa? hayo siapa.

In [5]:
a= "Jabbar"
print("nama saya", a)

nama saya Jabbar

In [6]:
print("Siapa kamu?\nkenalan dong.")
print()
print("Aku siapa?\nhayo siapa.")
#newline character (\n) memberikan perintah agar dimulai baris baru

Siapa kamu?
kenalan dong.

Aku siapa?
hayo siapa.

In [7]:
print("The itsy bitsy solder" , "climbed up" , "the waterspout")

The itsy bitsy solder climbed up the waterspout

In [8]:
print("My name is" , "Python." , end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [9]:
print("ayo" , "kita" , "belajar", sep="_", end="*")
print("operasi", "Python.", sep="*", end="*\n")
print("The end")

ayo_kita_belajar*operasi*Python.*
The end

In [10]:
print("belajar","pemrograman","di", sep="***", end="...")
print("Python")

belajar***pemrograman***di...Python

In [11]:
3E8 #float karena mengandung desimal.

300000000.0

In [12]:
6.62E-3

0.00662

In [13]:
9+5 #oddition

14

In [14]:
8-3 #subtraction

5

In [15]:
8*8 #multiplication

64

In [16]:
9/5 #classic divisiom

1.8

In [17]:
#floor/integer division
print(9//2) #pembulatan kebawah menghasilkan integer
print(9.5//2) #pembulatan kebawah menghasilkan float

4
4.0

In [18]:
#exponentiation
print(9**2)
print(9.**2.)
print(9**2.)
print(9.**2)

81
81.0
81.0
81.0

In [19]:
#modulus
print(9%2) #sisa pembagian
print(8%5)

1
3

In [20]:
print(2**3**2) #operasi dari kanan 2**(3**2)

512

In [21]:
tinggi_1 = 85
tinggi_1 = 90

In [22]:
berat_1 = 50
berat_2 = 60

In [23]:
print(tinggi_1,tinggi_1)
print(berat_1,berat_2)

90 90
50 60

In [24]:
t1 = 1
t2 = 2
t1 = t1+2 #t1 yang akan dimasukkan adalah t1 terakhir yaitu 2
print(t1)

3

In [25]:
var = 4
print(var)
var = 6
print(var)

4
6

In [26]:
i = 2
j = 5
k = 8
l = 6
m = 10

In [27]:
#i=i+4*2 -> i=10
i += 4*2
print(i)

10

In [28]:
#k=k/2 -> k=4
k /= 2
print(k)

4.0

In [29]:
#m=m**2 ->m=100
m **=2
print(m)

100

In [30]:
#FUNGSI INPUT
nama = input("Namamu siapa? :") #hasil fungsi input () ini berupa string
print("Namaku",nama)

Namaku Jabbar

In [31]:
ips_1 = float(input("Nilai IPS semester 1 : "))
ips_2 = float(input("Nilai IPS semester 2 : "))
ipk = (ips_1+ips_2)/2.0 #agar dapat dilakukan operasi aritmatika, variabel harus bersifat numerik
print("jadi nilai IPK ku adalah", ipk)

jadi nilai IPK ku adalah 3.75

In [34]:
#OPERATOR STRING
first = input("Nama pertama :")
last = input("Nama terakhir :")
print("Namaku adalah " + first +" "+ last)

Namaku adalah Abdullah Jabbar Daimuddin

In [35]:
#OPERATOR PERBANDINGAN
#Equality Operator a==b, apakah a sama dengan b ?
print(7==5)
print(3==3)

False
True

In [36]:
a = 7
print(a==7)
print(a==3)

True
False

In [37]:
#Intequality Operator a!=b, apa a tidak sama dengan b?
print(3!=3)
print(7!=5)

False
True

In [38]:
a = int(input("Masukkan nilai a: "))
b = int(input("Masukkan nilai b: "))
if a==b:
    print("yeay!")
print("oops sorry") #syarat terpenuhi atau tidak, perintah ini berlaku dalam keadaan apapun

oops sorry

In [39]:
num1 = int(input("Masukkan angka pertama: "))
num2 = int(input("Masukkan angka kedua: "))

#Memilih angka yang lebih besar
if num1>num2:
    besar = num1
else:
    besar = num2
    
#Menampilkan hasil
print("angka yang lebih besar:", besar)

angka yang lebih besar: 7

In [41]:
fav_food = input("Makanan kesukaanmu: ")
if fav_food=="Nasi goreng":
    print("yeay benar sekali")
else:
    print("oops")

yeay benar sekali

In [44]:
#WHILE
besar = 10
num1 = int(input("Masukkan angka pertama: "))

while num1!=10:
    if num1>besar:
        besar = num1
    num1 = int(input("Masukkan angka pertama: "))
    print("gotcha")

gotcha
gotcha

In [45]:
#FOR
for i in range (12):
    print("nilai i adalah", i)

nilai i adalah 0
nilai i adalah 1
nilai i adalah 2
nilai i adalah 3
nilai i adalah 4
nilai i adalah 5
nilai i adalah 6
nilai i adalah 7
nilai i adalah 8
nilai i adalah 9
nilai i adalah 10
nilai i adalah 11

In [47]:
for i in range (7,20):
    print("nilai i adalah", i)

nilai i adalah 7
nilai i adalah 8
nilai i adalah 9
nilai i adalah 10
nilai i adalah 11
nilai i adalah 12
nilai i adalah 13
nilai i adalah 14
nilai i adalah 15
nilai i adalah 16
nilai i adalah 17
nilai i adalah 18
nilai i adalah 19

In [48]:
#contoh break
for i in range(1,6):
    if i==3:
        break
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
outside the loop

In [49]:
#contoh continue
for i in range(1,9):
    if i==4:
        continue #melompati atau melanjutkan ke looping berikutnya
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
inside the loop. 3
inside the loop. 5
inside the loop. 6
inside the loop. 7
inside the loop. 8
outside the loop

In [50]:
num = [10, 5, 7, 2,1]
print("elemen-elemen asli: ", num)

num[0] = 111
print("perubahan elemen:", num)

num[1] = num[3]
print("perubahan elemen:", num)

elemen-elemen asli:  [10, 5, 7, 2, 1]
perubahan elemen: [111, 5, 7, 2, 1]
perubahan elemen: [111, 2, 7, 2, 1]

In [51]:
#fungsi len()
len(num)

5

In [52]:
#intruksi del
del num[2]
print(num)
print(len(num))

[111, 2, 2, 1]
4

In [53]:
#append() method
num = [100,101,102,103]
print(len(num))
print(num)

num.append(104)
print(len(num))
print(num)

4
[100, 101, 102, 103]
5
[100, 101, 102, 103, 104]

In [54]:
#None
value = None
if value == None:
    print("Hei itu bukan suatu nilai")

Hei itu bukan suatu nilai

In [56]:
def angka(n):
    if(n % 2 == 0):
        return True
    
print(angka(16))
print(angka(17))

True
None

In [57]:
#Dictionaries
nomortelp = {'Jabbar' : '031777111', 'Viole' : '03188776'}
kamuskosong = {}

print(nomortelp)
print(kamuskosong)
print(nomortelp['Viole'])

{'Jabbar': '031777111', 'Viole': '03188776'}
{}
03188776

In [59]:
#Menghapus Item
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
del bahasa['England']
print(bahasa)

#Menghapus item paling terakhir
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
bahasa.popitem()
print(bahasa)

{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin'}
{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin'}

In [60]:
#Mengubah format tuple ke dictionaries
bahasa = (('Malay','Melayu'),('China','Mandarin'), ('Amerika','English'))
newdict = dict(bahasa)
print(newdict)

{'Malay': 'Melayu', 'China': 'Mandarin', 'Amerika': 'English'}